.flexbox{
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.item{
    display: block;
    box-sizing: border-box;
    width: 33.33%;
}

.content {
    background-color: blueviolet;
    border: 2px solid rgb(255, 0, 8);
    padding: 19px;
}